# Projeto em Análise de Dados

### Importando as bibliotecas necessárias para o projeto

In [144]:
import os
import os.path
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta

### 1) Tratamento de Dados - ETL e Criação de Camadas para Backup

#### A parte "E" (extract) do ETL já foi feita de antemão, uma vez que os dados do drive com as planilhas mockadas foram baixados e transferidos para este diretório. Os próximos passos são: Fazer a leitura dos dados e transformação dos mesmos, para posteriormente fazermos o LOAD em um DataFrame do Pandas.

In [145]:
## Inicializo o DataFrame em Pandas:

df = pd.DataFrame()
dfs = [] # Vetor fora do Pandas para receber appends


caminho = 'Tabelas/'
lista_arquivos = os.listdir(caminho)

# 'For' para varrer toda a pasta de planilhas mockadas:
for arquivo in lista_arquivos:
    df_aux = pd.read_csv(caminho+str(arquivo))
    dfs.append(df_aux)

df = pd.concat(dfs, ignore_index=True) # Concatenação de dataframes

df.to_csv('backup/camada_bronze.csv') # transformar Arquivo em .csv para camada Bronze (conceito de Data Engeneering) - Para usar de Backup

df

       ano                uf     genero        mes  numero
0     2019          Rondônia  Masculino    Janeiro       0
1     2019          Rondônia  Masculino  Fevereiro       4
2     2019          Rondônia  Masculino      Março       1
3     2019          Rondônia  Masculino      Abril       0
4     2019          Rondônia  Masculino       Maio       0
...    ...               ...        ...        ...     ...
4531  2021  Distrito Federal   Feminino     Agosto      12
4532  2021  Distrito Federal   Feminino   Setembro      13
4533  2021  Distrito Federal   Feminino    Outubro      15
4534  2021  Distrito Federal   Feminino   Novembro      20
4535  2021  Distrito Federal   Feminino   Dezembro       6

[4536 rows x 5 columns]

#### Agora que temos um DataFrame único, podemos fazer o tratamento de dados, pois alguns campos (colunas) ainda estão com o type de 'object'

In [146]:
df.dtypes

ano        int64
uf        object
genero    object
mes       object
numero     int64
dtype: object

#### Não é pertinente deixar duas colunas de data (como por exemplo, ano e mês) separadas, sendo assim podemos juntá-las em uma única e transformar os dados em Date Time

In [147]:
#Criação de um dicionário para mapear os meses e transformá-los em números.

dicionario_mes = {
    'Janeiro': '01',
    'Fevereiro': '02',
    'Março': '03',
    'Abril': '04',
    'Maio': '05',
    'Junho': '06',
    'Julho': '07',
    'Agosto': '08',
    'Setembro': '09',
    'Outubro': '10',
    'Novembro': '11',
    'Dezembro': '12'
}

In [148]:
#Criação da coluna de numero_mes que corresponde ao número do respectvo mês do dicionário acima.
#Utilizei o método map que maepeia os valores do dicionário
df['numero_mes'] = df['mes'].map(dicionario_mes)
df

       ano                uf     genero        mes  numero numero_mes
0     2019          Rondônia  Masculino    Janeiro       0         01
1     2019          Rondônia  Masculino  Fevereiro       4         02
2     2019          Rondônia  Masculino      Março       1         03
3     2019          Rondônia  Masculino      Abril       0         04
4     2019          Rondônia  Masculino       Maio       0         05
...    ...               ...        ...        ...     ...        ...
4531  2021  Distrito Federal   Feminino     Agosto      12         08
4532  2021  Distrito Federal   Feminino   Setembro      13         09
4533  2021  Distrito Federal   Feminino    Outubro      15         10
4534  2021  Distrito Federal   Feminino   Novembro      20         11
4535  2021  Distrito Federal   Feminino   Dezembro       6         12

[4536 rows x 6 columns]

In [149]:
df.dtypes

ano            int64
uf            object
genero        object
mes           object
numero         int64
numero_mes    object
dtype: object

In [150]:
df['ano'] = df['ano'].astype(str) # Transformar o Ano em string, pois ainda está em int
df['numero_mes'] = df['numero_mes'].astype(str) # Transformar o Ano em string, pois ainda está em object
df['data'] = pd.to_datetime(df['ano'] + '-' + df['numero_mes'] + '-01') # Como o dia do mês não importa na análise, podemos omitir esse campo
# Por default, as datas ficarão no formato aaaa-mm-dd, o campo de dia '-dd' ficará sempre '01'

In [151]:
# Verificar se há valores nulos no DataFrame e 'Dropá-los', pois se há algum valor nulo, não devemos considerá-los na análise:
df = df.dropna()
df

,ano,uf,genero,mes,numero,numero_mes,data
0,2019,Rondônia,Masculino,Janeiro,0,01,2019-01-01
1,2019,Rondônia,Masculino,Fevereiro,4,02,2019-02-01
2,2019,Rondônia,Masculino,Março,1,03,2019-03-01
3,2019,Rondônia,Masculino,Abril,0,04,2019-04-01
4,2019,Rondônia,Masculino,Maio,0,05,2019-05-01
...,...,...,...,...,...,...,...
4531,2021,Distrito Federal,Feminino,Agosto,12,08,2021-08-01
4532,2021,Distrito Federal,Feminino,Setembro,13,09,2021-09-01
4533,2021,Distrito Federal,Feminino,Outubro,15,10,2021-10-01
4534,2021,Distrito Federal,Feminino,Novembro,20,11,2021-11-01
4535,2021,Distrito Federal,Feminino,Dezembro,6,12,2021-12-01

In [152]:
# Foi verificado acima que não há valores nulos nas linhas, pois o DataFrame continua com a mesma quantidade de linhas que anteriormente
# Portanto podemos seguir pra a etapa Silver de tratamento de Dados. 
df.to_csv('backup/camada_silver.csv') # transformar Arquivo em .csv para camada Silver (conceito de Data Engeneering) - Para usar de Backup - Dados mais tratados em Silver (tipagem correta).

#### Agora podemos 'Dropar' as colunas 'numero_mes', 'mes' e 'ano' para fins de performance, mas podemos manter as mesmas colunas caso sejam pertinentes na análise (neste caso irei manter as colunas 'mes' e 'ano'). Manterei desta forma, pois os dados já estão 'Safrados' (conceito em DE de agrupamento de data, por exemplo).

#### Neste caso irei dropar apenas a coluna de 'numero_mes', pois a coluna de data já possui toda a informção pertinente.

In [153]:
df = df.drop(columns='numero_mes')
df.to_csv('backup/camada_gold.csv') #Criação da Camada Gold (última camada e configuração ideal para a análise de dados)
df

       ano                uf     genero        mes  numero       data
0     2019          Rondônia  Masculino    Janeiro       0 2019-01-01
1     2019          Rondônia  Masculino  Fevereiro       4 2019-02-01
2     2019          Rondônia  Masculino      Março       1 2019-03-01
3     2019          Rondônia  Masculino      Abril       0 2019-04-01
4     2019          Rondônia  Masculino       Maio       0 2019-05-01
...    ...               ...        ...        ...     ...        ...
4531  2021  Distrito Federal   Feminino     Agosto      12 2021-08-01
4532  2021  Distrito Federal   Feminino   Setembro      13 2021-09-01
4533  2021  Distrito Federal   Feminino    Outubro      15 2021-10-01
4534  2021  Distrito Federal   Feminino   Novembro      20 2021-11-01
4535  2021  Distrito Federal   Feminino   Dezembro       6 2021-12-01

[4536 rows x 6 columns]

In [154]:
df.dtypes

ano               object
uf                object
genero            object
mes               object
numero             int64
data      datetime64[ns]
dtype: object

#### Sendo assim, o Tratamento de Dados está concluído!

#### ETL - Feito!

#### Criação de Camadas para Backup (Bronze, Silver e Gold) - Feito!